Repository wjxiz1992/cudf, pull requests merged in 2024-09, with the labels that each got.

#9 strings::contains() for multiple search targets
  cpp/benchmarks/string/find.cpp
  cpp/include/cudf/strings/find.hpp
  cpp/src/strings/search/find.cu
  cpp/tests/strings/find_tests.cpp
  java/src/main/java/ai/rapids/cudf/ColumnView.java
  java/src/main/native/src/ColumnViewJni.cpp
  java/src/test/java/ai/rapids/cudf/ColumnVectorTest.java
Labels: libcudf, Java

#10 Multi table serializer for kudo
  java/src/main/java/ai/rapids/cudf/HostColumnVector.java
  java/src/main/java/ai/rapids/cudf/serde/KudoSerializer.java
  java/src/main/java/ai/rapids/cudf/serde/TableSerializer.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/ColumnVectorDeserializer.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/DataOutputStreamWriter.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/DataWriter.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/KudoSerializer.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/MultiTableDeserializer.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/SerializedTable.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/SerializedTableHeader.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/SerializedTableHeaderCalc.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/SliceInfo.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/SlicedBufferSerializer.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/SlicedValidityBufferInfo.java
  java/src/main/java/ai/rapids/cudf/serde/kudo2/Kudo2Serializer.java
  java/src/main/java/ai/rapids/cudf/utils/PreConditions.java
  java/src/test/java/ai/rapids/cudf/serde/KudoSerializerTest.java
Labels: Java

#11 Fix comments; warp optimization
  cpp/benchmarks/string/find.cpp
  cpp/include/cudf/strings/find.hpp
  cpp/src/strings/search/find.cu
Labels: libcudf

#13 Kudo for nested type.
  java/src/main/java/ai/rapids/cudf/serde/kudo/KudoSerializer.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/MultiTableDeserializer.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/SerializedTableHeaderCalc.java
  java/src/main/java/ai/rapids/cudf/serde/kudo/SlicedBufferSerializer.java
  java/src/test/java/ai/rapids/cudf/serde/KudoSerializerTest.java
Labels: Java

#14 Revert "Fix comments; warp optimization"
  cpp/benchmarks/string/find.cpp
  cpp/include/cudf/strings/find.hpp
  cpp/src/strings/search/find.cu
Labels: libcudf
